[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Categories=Network;Application;
Terminal=false
StartupWMClass=Edge Browser
Name[en_US]=Edge Browser
Comment=Microsoft Edge Browser for Linux
Exec=microsoft-edge-stable
Name=Edge Browser
Icon=/opt/edge-browser-icon.png